*.pyc
__pycache__
doc
.pytest_cache
envs
*.egg-info
notebooks
old_data
*.cache
data/graph_diff*
data/Graph Model Difference*
test_graph_analysis/data_test/graph_diff*
test_graph_analysis/data_test/Model Diffs*
.coverage
data
junit.xml
htmlcov
coverage.xml
